html, body {
	font-family: 'Helvetica Neue', sans-serif;
	margin:20px;
}

.header{
	margin-top:0px;
	font-weight: 200;
	letter-spacing: 2px;
}

.intro{
	margin-top:-15px;
	margin-bottom:30px;
	font-style: italic;
}

footer{
	bottom:0px;
	position:fixed;
	background-color:black;
	width:100%;
	height:30px;
	left:0px;
	color:white;
	font-size: 0.9em;
	padding-left:20px;
}

.heading{
	text-align: center;
}
main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1rem;
        width: 80vw;
        margin: auto;
        grid-template-rows: auto;
	  }


main figcaption {
    font-size: 1rem;
    font-family: inherit;
}
main img {
    width: auto;
    height: auto;
    max-width: 100%;
}

.button{
	display: inline-block;
	width: 220px;
	height: 60px;
	border: 2px solid black;
	color: black;
	font-size: 15px;
	font-weight: 200;
    letter-spacing: 4px;
	text-transform: uppercase;
	text-align: center;
	outline: none;
    position: relative;
    overflow: hidden;
	cursor: pointer;
	transition: all ease 0.5s;
}

.fa {
	margin-left: -12px;
	margin-right: 8px;
  }

.container {
	align-content: center;
	text-align: center;
}

.active {
	font-size: 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border-left-color: transparent;
	animation: rotate 1.4s ease 0.5s infinite;
}

@keyframes rotate{
	0% {
		transform: rotate(360deg);
	  }
}



