
* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', sans-serif;
}

html, body {
	font-family: 'Helvetica Neue', sans-serif;
	margin:40px;
    background-color: rgb(247, 212, 176) !important;
}

.pizzaHeading{
	font-size: 40px;
	font-weight: 300;
	letter-spacing: 2px;
	margin-left: 285px;
}

.wizard {
    text-align: center;
    position: relative;
    margin-top: 40px;
}


.wizard fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    position: relative;
}

.wizard fieldset:not(:first-of-type) {
    display: none;
}

.wizard .action-button {
    width: 100px;
    background: rgb(101, 131, 74);
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    outline: none;
}

.wizard .action-button-previous {
    width: 100px;
    background: rgb(247, 212, 176);
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    outline: none;
}

.pizzaTitle {
    font-size: 22px;
    text-transform: uppercase;
    color: rgb(53, 53, 53);
    margin-bottom: 10px;
    letter-spacing: 2px;
	font-weight: bold;
	text-align: left;
}

.pizzaUberschrift{
    font-size: 18px;
    color: rgb(113, 113, 113);
    margin-bottom: 30px;
	font-weight: 400;
	text-align: left;
}

.briefly{
	font-size: 19px;
    text-transform: uppercase;
    color: rgb(53, 53, 53);
    margin-bottom: 10px;
    letter-spacing: 2px;
	font-weight: bold;
}

.progressbar {
    margin: 20px 20px 20px 20px;
    overflow: hidden;
    counter-reset: step;
}

.progressbar li {
    margin: 20px 0px 20px 0px;
    list-style-type: none;
    color: black;
    text-transform: uppercase;
    font-size: 13px;
    width: 25%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

.progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    font-size: 18px;
    color: #333;
    background: beige;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}


.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active:before, .progressbar li.active:after {
    background: rgb(101, 131, 74);
    color: white;
}
